@import "tailwindcss";

@theme {
  --color-tractor-yellow: #eab308;
  --color-tractor-dark: #121212;
  --color-tractor-card: #1e1e1e;
}

/* Garante que o fundo ocupe a tela toda */
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #121212;
}